<!DOCTYPE html>
<html>
<head>
	<title>Wine Quality Prediction Using Machine Learning</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">
	body {
  background-image: url('https://w0.peakpx.com/wallpaper/880/804/HD-wallpaper-good-wine-red-glass-nice-drop-wine-good-beautiful-abstract.jpg')

	</style>
</head>
<body>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white;font-size:250%;">Wine Quality Prediction</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="#" style="color:black;font-size:250%;">Home</a></li>
      <li><a href="/predict" style="color:black;font-size:250%;">Predict</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3 style="font-size:200%;color:#F96E6E;">Introduction</h3>
  <p style="color:black;font-size:120%;">Wine is the most healthful and most hygienic of beverages.
  Yes, if you think deep down then you just notice that we are discussing wine, above quote seems to be
   right because all over the world wine was soo popular among people, and 5% of the population doesn’t 
   know what is wine? sounds good.<br><br>
    We definitely came across the fruit graphs, which is soo sweet on the test but graphs are not just to
     eat, they are used to make different types of things. Wine is one of them Wine is an alcoholic drink 
     that is made up of fermented grapes. If you have come across wine then you will notice that wine has 
     also their type they are red and white wine this was because of different varieties of graphs.<br><br>
     You are shocked to hear that the worldwide distribution of wine is 31 million tonnes which were huge
      in number. </p>
    
    <h3 style="font-size:150%;color:#F96E6E;">What if you think about the quality of wine, how can you 
    differentiate the wine according to their quality? The big question arises.</h3>
     <p style="color:black;font-size:120%;"> According to experts, the wine is differentiated
      according to its smell, flavor, and color, but we are not a wine expert to say that wine is
       good or bad. What will we do then? Here’s the use of Machine Learning comes, yes you are thinking
        to write we are using machine learning to check wine quality.</p>
     
</div>


</body>
</html>