<!DOCTYPE html>
<html>
<head>
	<title>Wine Quality Prediction Using Machine Learning</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">
body {
  background-image: url('https://m.economictimes.com/thumb/msid-70001605,width-1200,height-900,resizemode-4,imgsize-541593/pretty-wine-bottl.jpg');
}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				 <div class="page-header">
    				<h1 style="font-size:500%;color:red;">Wine Quality Prediction</h1>
  				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="p-2 my-2 border">
			  		<h3 style="font-size:300%;color:red;">Wine Quality is predicted to be :- {{prediction}}</h3>
				</div>
			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script
</body>
</html>